.App {
  text-align: center;
  
  height: 100%;
}

 @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html {
  position: relative;
  height: 100%;
  background-image: url("ghost.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Share Tech", sans-serif;
  
}

.soundwave {
  max-width: 380px;
  border-radius: 15px;
  border: 2px solid white;
  opacity: 0.85;
}

.icon {
  max-width: 22px;
  margin-bottom: 0px;
  fill: white;
  cursor: pointer;
}
.icon:hover {
  fill:grey;
}
.icnsmall {
  max-width: 20px;
  margin-bottom: 3.5px;
}

.pause {
  min-width: 45px;
  position: relative;
  z-index: 10;
  fill: whitesmoke;
  display:flex;
  justify-content: center;
  margin:auto;

  top: -70px;
  
}

.sample {
  position: relative;
  z-index: 10;
  fill: white;
  display:flex;
  justify-content: center;
  margin:auto;
  top: -65px;
}

.play {
  width: 35px;
  position: relative;
  z-index: 10;
  fill: whitesmoke;
  display:flex;
  justify-content: center;
  margin:auto;
  top: -70px;
}

.wavectn {
  top: 0;
  display: flex;  
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  height: 0px; 
   width: 100%;
  width: 80%;
  right: 10%;
  padding: 5px;
  position: absolute;

}


 


.wave {
  width: 100%;
  
  
}

.cover {
  border-radius: 3.5%;
  width: 400px;
  z-index: -1;
  position: relative;
  top: 15px;
}

@media only screen and (max-width: 450px)  {
  .cover {
    width: 80%;
  }
  .soundwave {
    max-width: 80%;
  }
}

.songname {
  font-family: "Share Tech", sans-serif;
  position: relative;
  color: white;

}

.btn-links {
  width: 100%;
}

.octo7 {
  margin-top: -20px;
  font-family: "Share Tech", sans-serif;
  color: white;


}

.btn-links {
  border: 2.4px solid white;
  background: rgba(0, 0, 0, 0.8);

  color: white;
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  box-shadow: 25px black;
}

.links {
  width: 400px;
  justify-content: center;
  margin: auto;
  
}
@media only screen and (max-width: 450px)  {
  .links {
    width: 80%;
  }
}


body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sep-artist-song {
  width: 10%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  overflow:auto;
  margin-bottom: 50px;
}

